Package: python-dependency-injector-dbgsym
Source: python-dependency-injector
Version: 3.44.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: adminuser <adminuser@debpackages.ext-dc1.o.nkpor.etris>
Installed-Size: 1193
Depends: python-dependency-injector (= 3.44.0-1)
Section: debug
Priority: extra
Homepage: https://github.com/ets-labs/python-dependency-injector/tree/3.44.0
Description: Debug symbols for python-dependency-injector
Build-Ids: 2c6b382efe0c10fb338176b6f73b06a44b41184b ff254705df638c4e1dd6890a10496f5885fd2371
